


.Gard {
    text-align: left;
    margin-left: 31%;
    margin-right: auto;
    position: relative;
    top: 1230px;
    height: 10%;
}



.Parg3Home {
    text-align: left;
    margin-left: 31%;
    margin-right: auto;
    position: relative;
    top: 1230px;
}


.Out {
    text-align: right;
    margin-left: auto;
    margin-right: 31%;
    position: relative;
    top: 470px;
    height: 10%;
}

.Parg2Home {
    text-align: right;
    margin-left: auto;
    margin-right: 30%;
    position: relative;
    top: 470px;
}



.Ins {
    text-align: left;
    margin-left: 31%;
    margin-right: auto;
    position: relative;
    top: -300px;
    height: 10%;
}



.Parg1Home {
    text-align: left;
    margin-left: 31%;
    margin-right: auto;
    position: relative;
    top: -300px;
}

