h2{
    text-align: center;
}
p{
    text-align: center;
}

.box{
    background-color: darkred;
}

#box3{
    position: absolute;
    top: 80px;
    width: 551px;
    height: 3000px;
}
#box4{
    position: absolute;
    top: 0px;
    width: 516px;
    height: 3080px;
    right: 13px;
}